<%= link_to "Search Page", root_path %>
  <table>
    <tr>
      <td>Name</td>
      <td>DOI</td>
    </tr>
    <tr>
      <%= @result.each do |x| %>
        <td><%= x.name %></td>
        <td><%= x.doi %></td>
      <% end %>
    </tr>
  </table>
